Source: showmehow
Maintainer: Sam Spilsbury <sam@endlessm.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 7.4.3),
               python3-gi,
               python3-setuptools
Standards-Version: 3.9.1


Package: showmehow-os-integration
Architecture: all
Replaces: python3-showmehow (<< 0.0.0+dev205.aec5254bem1),
          python-showmehow (<< 0.0.0+dev205.aec5254bem1),
          showmehow-data (<< 0.0.0+dev205.aec5254bem1)
Breaks: python3-showmehow (<< 0.0.0+dev205.aec5254bem1),
        python-showmehow (<< 0.0.0+dev205.aec5254bem1),
        showmehow-data (<< 0.0.0+dev205.aec5254bem1)
Description: OS Integration for showmehow command.
 OS Integration for showmehow command.
